:root {
  font-family: "DynaPuff";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #DE5D83;
  background-color: #FFB5C0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: white;
}
#headerDiv{
  text-align: center;
}
.h1Header{
  font-size: 3.5rem;
}
.h2Header{
  font-size: 2rem;
}
.h1Header, .h2Header{
  margin: 0;
}
#charactersCardDiv{
  width: 67%;
  margin: auto;
  border: 2px solid red;
}
.card{
  width: 100%;
  border: 2px solid white;
  background-color: var(--primary);
  border-radius: 6px;
}
.card p{}
