@import 'tailwindcss';

:root {
  font-family: "DynaPuff";
  font-weight: 400;

  color-scheme: light dark;
  color: #DE5D83;
  background-color: #FFB5C0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: white;
}

.card p{}
button{
  display: block;
}